{% extends 'layout/base.html' %}

{% block title %}Chi tiết sản phẩm{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-5 col-12">
        <img src="{{ product.image }}" class="img-fluid rounded"/>
    </div>
    <div class="col-md-7 col-12">
        <h1 class="text-info">{{ product.name }}</h1>
        <h3 class="text-danger">{{ product.price }} VNĐ</h3>
    </div>
</div>

{% if current_user.is_authenticated %}
<div class="mt-2 mb-2">
    <div class="form-floating mb-2">
        <textarea class="form-control" id="comment" name="text" placeholder="Nội dung bình luận"></textarea>
        <label for="comment">Nội dung bình luận</label>
    </div>
    <button class="btn btn-success">Bình luận</button>
</div>
{% else %}
<h5>Hãy <a href="/login?next=/products/{{ product.id }}">đăng nhập</a> để bình luận!</h5>
{% endif %}


<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-1 md-4">
                <img class="img-fluid rounded-circle"
                     src="https://res.cloudinary.com/dxxwcby8l/image/upload/v1679731974/jlad6jqdc69cjrh9zggq.jpg"
                     alt="user-comment"/>
            </div>
            <div class="col-md-11 md-8">
                <p>Comment content</p>
                <p>2024-02-05 21:57:00</p>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-1 md-4">
                <img class="img-fluid rounded-circle"
                     src="https://res.cloudinary.com/dxxwcby8l/image/upload/v1679731974/jlad6jqdc69cjrh9zggq.jpg"
                     alt="user-comment"/>
            </div>
            <div class="col-md-11 md-8">
                <p>Comment content</p>
                <p>2024-02-05 21:57:00</p>
            </div>
        </div>
    </li>
</ul>

{% endblock %}