{% extends 'layout/base.html' %}

{% block title %}Chi tiết sản phẩm{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-5 col-12 mb-4">
            <img src="{{ product.image }}" class="img-fluid rounded shadow-lg" alt="{{ product.name }}">
        </div>
        <div class="col-md-7 col-12">
            <h1 class="text-info">{{ product.name }}</h1>
            <h3 class="text-danger">{{ '{:,.0f}'.format(product.price)|replace(',', '.') }} VNĐ</h3>

            {% if current_user.is_authenticated %}
            <div class="mt-4">
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="content" name="text" placeholder="Nội dung bình luận"></textarea>
                    <label for="content">Nội dung bình luận</label>
                </div>
                <button class="btn btn-success" onclick="addComment({{ product.id }})">Bình luận</button>
            </div>
            {% else %}
            <div class="mt-4">
                <h5>Hãy <a href="/login?next=/products/{{ product.id }}">đăng nhập</a> để bình luận!</h5>
            </div>
            {% endif %}
        </div>
    </div>

    <ul class="list-group mt-5" id="comments">
        {% for c in comments %}
        <li class="list-group-item mb-3">
            <div class="row align-items-center">
                <div class="col-md-1 col-2">
                    <img class="img-fluid rounded-circle" src="{{ c.user.avatar }}" alt="user-comment">
                </div>
                <div class="col-md-11 col-10">
                    <p>{{ c.content }}</p>
                    <p class="text-muted">${ moment(c.created_date).locale('vi').fromNow() }</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>
<script src="{{ url_for('static', filename='js/details.js') }}"></script>
<script>
    window.onload = function() {
        let dates = document.querySelectorAll(".text-muted");

        for (let date of dates) {
            date.innerText = moment(date.innerText).locale('vi').fromNow();
        }
    }
</script>
{% endblock %}
