<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-white">APPLE SIMPLE STORE</h1>
                <p class="text-muted">&copy; 2024</p>
            </div>
            <div class="col-md-6">
                <h5 class="mb-3">Liên hệ</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="bi bi-telephone me-2"></i>
                        <span>+840030041975</span>
                    </li>
                    <li>
                        <i class="bi bi-envelope me-2"></i>
                        <span>info@applesimplestore.com</span>
                    </li>
                    <li>
                        <i class="bi bi-geo-alt me-2"></i>
                        <span>1130 Đường Thống Nhất, Thành phố Xã hội Chủ nghĩa</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
